<br>
<div class="alert alert-info text-center"> 
<h2>Client List</h2>
</div>
<br>
<div class="container">
	
		<button  class="btn btn-primary" role="button" [routerLink]="['/clientes/newForm']">New Client</button><br><br>
     <div class="alert alert-primary" role="alert" *ngIf="clientes?.length==0">
		 <strong>No se encontraron registros</strong>
	 </div>

	
<div class="table-responsive">
		<table class="table table-hover" *ngIf="clientes?.length>0">
			<thead>
				<th>Nombre</th>
				<th>Apellido</th>
				<th>Email</th>
				<th>Fecha Creacion</th>
				<th class=" text-center"> <font color="red">Acciones</font></th>
			</thead>
			<tbody>
				<tr *ngFor="let client of clientes">
					<td>{{client.nombre}}</td>
					<td>{{client.apellido}}</td>
					<td>{{client.email}}</td>
					<td>{{client.createAt}}</td>
					<td class=" text-center">
						<button class="btn btn-info btn-sm" [routerLink]="['/clientes/newForm/',client.id]" > Edit</button> &nbsp; 
						<button class="btn btn-danger btn-sm" (click)="destroy(client)"> Delete</button>
     
					</td>
				</tr>
			
			</tbody>
		</table>
	</div>
</div>
