<div class="card">
	<div class="card-header">
		 <label *ngIf="!client.id else titleUpdate" >{{titleNew}}</label>
				<ng-template #titleUpdate>
					 <label>Update Client</label>
				</ng-template>

	</div>
	<div class="card-body">

	
		<form>
			<div class="form-group row">
				<label for="nombre" class="col-form-label col-sm-2">Nombre</label>
				<div class="col-sm-6">
					<input type="text" class="form-control" [(ngModel)]="client.nombre" name="nombre">
				</div>

			</div>
			<div class="form-group row">
				<label for="apellido" class="col-form-label col-sm-2">Apellido</label>
				<div class="col-sm-6">
					<input type="text" class="form-control" [(ngModel)]="client.apellido" name="apellido">
				</div>
			</div>
			<div class="form-group row">
				<label for="email" class="col-form-label col-sm-2">email</label>
				<div class="col-sm-6">
					<input type="text" class="form-control" [(ngModel)]="client.email" name="email">
				</div>
			</div>
			
		<div class="form-group row">
			<div class="col-sm-2">
				
			</div>
			<div class="col-sm-6">
			<button (click)="store()" class="btn btn-outline-primary" *ngIf="!client.id else templateUpdate">Register</button>&nbsp; &nbsp; 	
		    <ng-template #templateUpdate>
					<button (click)="update()" class="btn btn-outline-primary" >Update</button>&nbsp;
					&nbsp;
			</ng-template>
			<button (click)="cancelNew()" class="btn btn-outline-danger">Cancel</button>
				
			</div>
	
		</div>


            
		</form>
	</div>
</div>